<div class="bg-dark">
    <section>
        <div class="container">
            <div class="row align-items-center py-lg-8 py-6">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="text-white fs-5 fs-xl-6">
                        Eficiencia y Control <strong style="color: #63ad19;">en un solo Click!</strong>
                    </h1>
                    <p class="text-white py-lg-3 py-2">
                        Descubre la eficiencia y la eficacia de la gestion de créditos en FinanClick.
                    </p>
                    <div class="d-sm-flex align-items-center gap-3">
                        <a class="btn text-white mb-3 w-75" href="/servicios" style="background-color: #63ad19;">
                            Conseguir
                        </a>
                        <a class="btn btn-outline-light mb-3 w-75" href="/servicios">Descubrir</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
                    <img class="img-fluid" src="assets/img/app.png" alt="" />
                </div>
            </div>            
        </div>
    </section>
</div>

<section>
    <div class="container">
        <p class="text-center fs-1">Nuestros Servicios</p>
        <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">
            Eficiencia y Control al alcance de tu mano
        </h2>
        <div class="row gx-xl-7 mt-5">
            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/eficiencia.png" alt="" style="border-radius: 25px;" />
                <h4 class="mt-3 my-1">Eficiencia de Operaciones</h4>
                <p class="fs-1 mb-0">
                    Automatización y procesos rapidos en la gestión de créditos.
                </p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/servicios">Descubrelo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/services/2.png" alt="" />
                <h4 class="mt-3 my-1">Contacto con Clientes</h4>
                <p class="fs-1 mb-0">
                    Contacto simple y eficaz con los clientes.
                </p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/servicios">Descubrelo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/seguridad.png" alt="" style="border-radius: 25px;" />
                <h4 class="mt-3 my-1">Seguridad de Procesos y Protección de Información</h4>
                <p class="fs-1 mb-0">
                    Proteccion de datos crediticios y seguridad de los procesos.
                </p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/servicios">Descubrelo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid" src="assets/img/landing1.png" alt="" style="border-radius: 35px;" />
            </div>
            <div class="col-lg-6">
                <h1 class="fs-xl-5 fs-lg-4 fs-3">
                    Optimiza, Automatiza y Asegura cada paso del ciclo de vida del crédito, desde cualquier lugar y en cualquier momento.
                </h1>
                <ul class="list-unstyled my-xl-5 my-3">
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestión Integral de Créditos</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Multiplataforma y Accesible</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Automatización Inteligente</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Seguridad y Cumplimiento</span>
                    </li>
                </ul>
                <a class="btn" style="background-color: #63ad19; color: white" href="/servicios">Inicia Aquí</a>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section class="pt-8 pt-lg-0">
    <div class="container">
        <div class="d-flex flex-column-reverse flex-lg-row">
            <div class="col-lg-6">
                <h1 class="fs-lg-4 fs-md-3 fs-xl-5 mb-5">
                    Encuentra grandes beneficios que tiene <strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span> para tí
                </h1>
                <ul class="list-unstyled">
                    <li class="fs-2 shadow-sm offer-list-item">
                        <i class="fa-solid fa-hand-holding-dollar fs-lg-4 fs-3"></i><span>Reducción del 50% en los tiempos de aprobación de créditos.</span>
                    </li>
                    <li class="fs-2 shadow-sm offer-list-item">
                        <i class="fa-solid fa-check fs-lg-4 fs-3"></i><span>Mejora en la satisfacción del cliente en un 40%.</span>
                    </li>
                    <li class="fs-2 shadow-sm offer-list-item">
                        <i class="fa-solid fa-money-bill-trend-up fs-lg-4 fs-3"></i><span>Ahorro del 30% en costos operativos mediante la automatización.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <img class="img-fluid" src="assets/img/landing2.png" alt="" style="border-radius: 35px;"/>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>


<section class="bg-dark pt-6">
    <div class="container">
        <div class="col-md-6">
            <h1 class="text-white fs-lg-5 fs-md-3 fs-2">
                Siempre comprometidos con tu negocio.
            </h1>
        </div>
        <div class="swiper mt-7">
            <div class="swiper-container swiper-theme"
                data-swiper='{"slidesPerView":1,"breakpoints":{"640":{"slidesPerView":1,"spaceBetween":10},"768":{"slidesPerView":2,"spaceBetween":20},"1025":{"slidesPerView":3,"spaceBetween":40}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"},"loop":true,"freeMode":true,"loopedSlides":3}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <h4 class="text-black">
                                “El software ha transformado nuestra forma de trabajar, aumentando la eficiencia y facilitando la colaboración entre equipos.”
                            </h4>
                            <div class="d-flex align-items-center gap-3 mt-5">
                                <img src="assets/img/review/1.png" alt="" style="border-radius: 50%;"/>
                                <div class="text-black">
                                    <p class="mb-0 fw-bold text-dark">Jane Smith</p>
                                    <small>Directora de TI, Capital One</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <h4 class="text-black">
                                “La integración con otras herramientas es impecable. El soporte técnico es excepcional y siempre están dispuestos a ayudar.”
                            </h4>
                            <div class="d-flex align-items-center gap-3 mt-5">
                                <img src="assets/img/review/2.png" alt="" style="border-radius: 50%;"/>
                                <div class="text-black">
                                    <p class="mb-0 fw-bold text-dark">John Doe</p>
                                    <small>Jefe de Proyectos, JPMorgan Chase</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <h4 class="text-black">
                                “La interfaz de usuario es muy intuitiva, y las funciones avanzadas nos han permitido personalizar el software según nuestras necesidades.”
                            </h4>
                            <div class="d-flex align-items-center gap-3 mt-5">
                                <img src="assets/img/review/3.png" alt="" style="border-radius: 50%;"/>
                                <div class="text-black">
                                    <p class="mb-0 fw-bold text-dark">Edwart Johnson</p>
                                    <small>Analista Senior, Goldman Sachs</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <h4 class="text-black">
                                “Desde que adoptamos este software, hemos visto una notable mejora en nuestra productividad y en la calidad del trabajo en equipo.”
                            </h4>
                            <div class="d-flex align-items-center gap-3 mt-5">
                                <img src="assets/img/review/4.png" alt="" style="border-radius: 50%;"/>
                                <div class="text-black">
                                    <p class="mb-0 fw-bold text-dark">Michael Brown</p>
                                    <small>Consultor Financiero, Morgan Stanley</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <h4 class="text-black">
                                “El nivel de personalización que ofrece es impresionante. Es exactamente lo que necesitábamos para optimizar nuestros procesos internos.”
                            </h4>
                            <div class="d-flex align-items-center gap-3 mt-5">
                                <img src="assets/img/review/5.png" alt="" style="border-radius: 50%;"/>
                                <div class="text-black">
                                    <p class="mb-0 fw-bold text-dark">Sophia Lee</p>
                                    <small>Gerente de Operaciones, Bank of America</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
                <span class="fas fa-arrow-right fs-lg-3 fs-2"></span>
            </div>
            <div class="swiper-button-prev">
                <span class="fas fa-arrow-left fs-lg-3 fs-2"></span>
            </div>
        </div>
    </div>
<br>
<br>
<div class="container">
    <!--Nuestros Partners-->
    <p class="text-center text-white fs-1">Nuestros Partners</p>
    <hr>
    <br>
    <div class="swiper">
        <div class="swiper-container swiper-theme"
            data-swiper='{
                "slidesPerView": 1.5,
                "breakpoints": {
                    "640": {"slidesPerView": 1.5, "spaceBetween": 20},
                    "768": {"slidesPerView": 3, "spaceBetween": 40},
                    "992": {"slidesPerView": 4, "spaceBetween": 50},
                    "1024": {"slidesPerView": 3.5, "spaceBetween": 60},
                    "1025": {"slidesPerView": 5, "spaceBetween": 60}
                },
                "spaceBetween": 5,
                "grabCursor": true,
                "pagination": {"el": ".swiper-pagination", "clickable": true},
                "loop": true,
                "freeMode": true,
                "autoplay": {"delay": 2500, "disableOnInteraction": false}
            }'>
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/1.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/2.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/3.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/4.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/5.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/6.png" alt="" style="max-width: 100%; height: auto;"/> 
                </div>
                <div class="swiper-slide text-center">
                    <img src="assets/img/logos/7.png" alt="" style="max-width: 100%; height: auto;"/>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- end of .container-->
</section>