<div class="bg-dark">
  <section>
    <div class="container">
      <div class="row align-items-center py-lg-8 py-6">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="text-white fs-5 fs-xl-6">
            Eficiencia y Control
            <strong style="color: #63ad19">en un solo Click!</strong>
          </h1>
          <p class="text-white py-lg-3 py-2">
            Descubre la eficiencia y la eficacia de la gestion de créditos en
            FinanClick.
          </p>
          <div class="d-sm-flex align-items-center gap-3">
            <a
              class="btn text-white mb-3 w-75"
              style="background-color: #63ad19"
              href="/contacto"
            >
              Conseguir
            </a>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
          <img class="img-fluid" src="assets/img/app.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>

<section>
    <div class="container">
        <p class="text-center fs-1">Nuestros Servicios</p>
        <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">
            Eficiencia y Control al alcance de tu mano
        </h2>
        <div class="row gx-xl-7 mt-5">
            <div class="col-md-6 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/Web.png" alt="" style="border-radius: 25px;" />
                <h4 class="mt-3 my-1">FinanClick Web</h4>
                <p class="fs-1 mb-0">
                    Automatización y procesos rapidos en la gestión de créditos.
                </p>
            </div>
            <div class="col-md-6 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/Mobile.png" alt="" style="border-radius: 25px;"/>
                <h4 class="mt-3 my-1">FinanClick Mobile</h4>
                <p class="fs-1 mb-0">
                    Contacto simple y eficaz con los clientes.
                </p>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid" src="assets/img/webinfo.png" alt="" style="border-radius: 35px;" />
            </div>
            <div class="col-lg-6">
                <h1 class="fs-xl-5 fs-lg-4 fs-3">
                    <strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span> Web
                </h1>
                <ul class="list-unstyled my-xl-5 my-3">
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestión Integral de Créditos</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Simulacion de Creditos</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestion de Informacion y Documentacion de Clientes</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestion de Usuarios y Clientes</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestion de Pagos</span>
                    </li>
                </ul>
                <button class="btn" style="background-color: #63ad19; color: white">Inicia Aquí</button>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section class="pt-8 pt-lg-0">
    <div class="container">
        <div class="d-flex flex-column-reverse flex-lg-row">
            <div class="col-lg-6">
                <h1 class="fs-lg-4 fs-md-3 fs-xl-5 mb-5">
                    <strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span> Mobile
                </h1>
                <ul class="list-unstyled my-xl-5 my-3">
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestión Integral de la Información del Cliente</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Simulacion de Creditos</span>
                    </li>
                    <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black">
                        <i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Gestion de Creditos</span>
                    </li>
                </ul>
                <button class="btn" style="background-color: #63ad19; color: white">Inicia Aquí</button>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid" src="assets/img/mobilinfo.png" alt="" style="border-radius: 35px;"/>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section>
    <div class="container">
        <p class="text-center fs-1">Precios</p>
        <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">
            Eficiencia y Control al alcance de tu mano
        </h2>
        <div class="row gx-xl-7 mt-5">

            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/eficiencia.png" alt="" style="border-radius: 25px;" />
                <h4 class="mt-3 my-1">Suscripción de <strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span></h4>
                <ul>
                    <li><span class="text-black">Gestion Integral de Creditos</span></li>
                    <li><span class="text-black">Gestion de Informacion de Clientes</span></li>
                    <li><span class="text-black">Soporte 24/7 para Clientes y Empresas</span></li>
                    <li><span class="text-black">Seguridad y Cumplimiento</span></li>
                    <li><span class="text-black">Mantenimiento Mensual</span></li>
                    <li><span class="text-black">Alojamiento en la Nube</span></li>
                </ul>
                <hr>
                <ul>
                    <li><span class="text-black">Plan Mensual</span></li>
                    <li><span class="text-black">Plan Anual</span></li>
                </ul>
                <p class="fs-2 mb-0 fw-bold">Desde $20,000 MXN/mes*</p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/contacto">Descúbrelo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>

            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/services/2.png" alt="" />
                <h4 class="mt-3 my-1">Licencia Full <strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span></h4>
                <ul>
                    <li><span class="text-black">Gestion Integral de Creditos</span></li>
                    <li><span class="text-black">Gestion de Informacion de Clientes</span></li>
                    <li><span class="text-black">Seguridad y Cumplimiento</span></li>
                    <li><span class="text-black">Alojamiento en la Nube o Local</span></li>
                </ul>
                <p class="fs-2 mb-0 fw-bold">Desde $30,000 MXN</p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/contacto">Descúbrelo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>

            <div class="col-md-4 mb-6 mb-md-0 text-center text-md-start">
                <img class="w-50 w-md-100" src="assets/img/seguridad.png" alt="" style="border-radius: 25px;" />
                <h4 class="mt-3 my-1"><strong style="color: #023e73;">Finan</strong><span style="color: #63ad18">Click</span> a la Medida</h4>
                <p class="fs-1 mb-0">
                    Licenciamiento y Configuracion de FinanClick adaptado a tus necesidades.
                </p>
                <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="/contacto">Cotizalo Aquí<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>

        </div>
    </div>
    <!-- end of .container-->
</section>



