<section class="bg-dark text-center py-9">
  <div class="container">
    <p class="text-light fs-1">Nosotros</p>
    <div class="col-12 col-md-7 mx-auto">
      <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">
        Empodera tu gestión crediticia con la tecnología más avanzada y una
        visión centrada en el cliente.
      </h1>
    </div>
    <p class="w-md-50 text-light mx-auto">
      En FinanClick, somos pioneros en soluciones de gestión de créditos,
      ofreciendo un software multiplataforma que simplifica desde la simulación
      hasta el seguimiento, brindando eficiencia y seguridad adaptadas a las
      necesidades del sector financiero.
    </p>
  </div>
  <!-- end of .container-->
</section>

<section class="pb-0">
  <div class="container">
    <div class="gallery-wraper">
      <div class="img-wraper">
        <img class="img-fluid" src="assets/img/gallery/1.png" alt="" />
      </div>
      <div class="img-wraper">
        <img class="img-fluid" src="assets/img/gallery/2.png" alt="" />
      </div>
      <div class="img-wraper">
        <img class="img-fluid" src="assets/img/gallery/3.png" alt="" />
      </div>
      <div class="img-wraper">
        <img class="img-fluid" src="assets/img/gallery/4.png" alt="" />
      </div>
      <div class="img-wraper">
        <img class="img-fluid" src="assets/img/gallery/5.png" alt="" />
      </div>
    </div>
    <div class="px-xl-8 px-md-5 px-3 py-8">
      <p class="fs-1">Quienes Somos</p>
      <h1 class="fs-lg-6 fs-md-4 fs-3 my-4">
        Transformamos la gestión crediticia con soluciones innovadoras y un equipo dedicado a tu éxito.
      </h1>
      <p class="fs-1">
        En FinanClick, fusionamos innovación tecnológica con una comprensión
        profunda del sector financiero para ofrecer una solución integral que
        simplifica y optimiza todos los aspectos de la gestión crediticia.
        Nuestro equipo está formado por expertos apasionados por brindar
        herramientas que transformen la manera en que gestionas tus servicios
        financieros.
      </p>
    </div>
  </div>
  <!-- end of .container-->
</section>

<section class="bg-dark">
  <div class="container">
    <p class="text-center text-light">Nuestros Beneficios</p>
    <h1 class="text-center text-white w-lg-75 mx-auto fs-xl-6 fs-lg-4 fs-3">
        Beneficios Tangibles para Nuestros Clientes
    </h1>
    <div class="row mt-5">
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">75%</h1>
        <p class="text-light fs-2">Reducción en Tiempo de Procesamiento</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">50%</h1>
        <p class="text-light fs-2">Ahorro en Costos Administrativos</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">24/7</h1>
        <p class="text-light fs-2">Soporte Disponible</p>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>

<section>
    <div class="container">
      <div class="px-xl-8 px-md-5 px-3">
        <h1 class="text-black fs-lg-6 fs-md-4 fs-3 my-4">Misión y Visión</h1>
        <div class="row">
          <div class="col-md-6">
            <p class="text-black fs-1 w-lg-75">
              <strong>Misión:</strong> Nuestra misión es empoderar a las entidades financieras con soluciones tecnológicas avanzadas que optimicen y automatizen los procesos de gestión de créditos, garantizando precisión, eficiencia y seguridad, para mejorar la experiencia del usuario y contribuir al crecimiento sostenible del sector financiero.
            </p>
            <p class="text-black fs-1 w-lg-75">
              <strong>Visión:</strong> Ser la plataforma líder en la gestión integral de créditos a nivel global, reconocida por nuestra innovación, fiabilidad y capacidad de adaptación a las necesidades cambiantes del mercado financiero, promoviendo la transformación digital y el desarrollo económico.
            </p>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="assets/img/nosotros.jpg" alt="Misión y Visión" style="border-radius: 25px; width: 250%;" />
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  

<section class="bg-dark">
  <div class="container">
    <div class="px-xl-8 px-md-5 px-3">
      <p class="text-light fs-1">Valores</p>
      <h1 class="text-white fs-lg-6 fs-md-4 fs-3 my-lg-4 my-3">
        Things in we believe
      </h1>
      <p class="text-light w-lg-75 fs-1">
        Conversion angel investor entrepreneur first mover advantage. Handshake
        infographic mass market crowdfunding iteration. Traction stock user
        experience deployment beta innovator incubator focus.
      </p>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/innovacion.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Innovación</h1>
          <p class="text-light fs-1">
            Impulsamos avances tecnológicos para ofrecer soluciones de vanguardia en la gestión de créditos.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/presicion.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Precisión</h1>
          <p class="text-light fs-1">
            Garantizamos exactitud en cada transacción y cálculo para una administración de créditos impecable.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/eficiencia.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Eficiencia</h1>
          <p class="text-light fs-1">
            Optimizamos procesos para maximizar el rendimiento y reducir el tiempo de gestión.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/seguridad.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Seguridad</h1>
          <p class="text-light fs-1">
            Protegemos la información y los datos con las mejores prácticas en ciberseguridad.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/transparencia.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Transparencia</h1>
          <p class="text-light fs-1">
            Fomentamos la claridad y la apertura en todas nuestras operaciones y comunicaciones.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="img-fluid" src="assets/img/values/confiabilidad.png" alt="" style="border-radius: 30px;"/>
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="text-white fs-2 fs-lg-3 my-2">Confiabilidad</h1>
          <p class="text-light fs-1">
            Proporcionamos herramientas y soporte confiables que puedes contar en todo momento.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
